version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: computing_center_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: computing_center_main
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis
    container_name: computing_center_redis
    restart: always
    ports:
      - "6379:6379"
  
  mongo:
    image: mongo:6.0
    container_name: computing_center_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  app:
    build: .
    container_name: computing_center_api
    restart: on-failure
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://admin:admin@postgres:5432/computing_center_main?schema=public"
      REDIS_URL: "redis://redis:6379"
      MONGO_URL: "mongodb://admin:admin@mongo:27017"
      PORT: 3000
    depends_on:
      - postgres
      - redis
      - mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  pgdata:
  mongodata: